<div *ngIf="editable" class="row spanning">
    <div class="col-2">

        <button type="submit" class=" btn btn-danger btn-add-new" (click)="deleteMarker()">
            <i class=" fa fa-minus" aria-hidden="true"></i>
        </button>
    </div>
    <div class="col-10">

        <input type="text" class="form-control" placeholder="Name (optional)" [(ngModel)]="marker.name" />
    </div>
</div>


<div class="row spanning" *ngIf="!editable" >
        <input class="form-control" type="text" placeholder="" [(ngModel)]="marker.name" disabled>        
</div>