.carddiv{
    height: 100px;
    overflow: hidden;
    align-content: center;
    margin: -20px;
    margin-bottom: 20px;
    background-size: cover;
    background-position: center;
}

.year-component{
    font-size: 15px;
    margin: 0px;
}

.category{
    float:right;     
}

.left {
    float: left;
    padding: 0 20px 20px 0;
}
 
img{
    max-width: 100%;
    height: auto;
}

.cardcanvas{
    width: 90%;
    margin: auto;
    margin-top: 20px;
}

.owner{
    float:left; 
    font-size: 13px;
    text-align:left; 
    color:rgb(165, 151, 73);
    font-weight: bold;
}

.update{
    font-size: 12px;
    float:right; 
    color:rgb(99, 99, 99);
    margin-bottom: 8px;
    font-style: italic;
}

.tag{
    margin-left: 8px;
}


.info-block{
    padding: 10px;
    width: 40%;
    
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 1px solid #dfdfdf;
    border-radius: 3px;
    display: inline-block;
}
