
{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block body %}


<div class="container">
    <div class="row" style="margin-top:75px">
        <div class="col-md-6">
            <h3 class="text-info">Your current avatar</h3>
            {% load avatar_tags %}
            {% avatar user 500 %}
              </div>
         <div class="col-md-3" style="margin-top:75px">
            {% if not avatars %}
                <h4 class="text-info">You haven't uploaded an avatar yet. Please upload one now.</h4>
            {% else %}
                <form method="POST" action="{% url 'avatar_change' %}">
                    <ul class="list-group text-info">
                        {{ primary_avatar_form.as_ul }}
                    </ul>
                    <p>{% csrf_token %}
                        <input class="btn btn-primary" type="submit" value="Choose new Default" /></p>
                </form>
            {% endif %}
              </div>
           <div class="col-md-3" style="margin-top:75px">
            <form enctype="multipart/form-data" method="POST" action="{% url 'avatar_add' %}">
                <div class="text-info">{{ upload_avatar_form.as_p }}</div>
                <p>{% csrf_token %}
                     <input class="btn btn-primary" type="submit" value="Upload New Image"/>
                </p>
            </form>
        </div>
    </div>
</div>


{% endblock %}