<div ng-controller="DemoController">
    <img ng-areas="areasArray" 
        ng-areas-width="900" 
        ng-areas-allow="{'edit':true, 'move':true, 'resize':true, 'select':true, 'remove':true, 'nudge':false}"
        ng-areas-on-add="onAddArea" 
        ng-areas-on-remove="onRemoveArea" 
        ng-areas-on-change="onChangeAreas900" 
        ng-areas-extend-data="{pageNumber: 1, tag: 'img900px'}"
        ng-src="https://lh3.googleusercontent.com/m87wBaG8XzG2NaHiXqKOBPV6d7AULheRoa0TLsU3tJa32ivl4p7pzMrp-0nSxvAaYhhjIt8sbFoT7VJddCGAcw=s400">
</div>