<!DOCTYPE html>
<html>
<head>


</head>
<body ng-app="app" ng-controller="selectableTextController">
<p id="selectableText" ng-mouseup="MouseUp($event)">
	{{text}}
    </p>
<br>
<button id="execute">Highlight</button>
<br>
Selection:
<br>
<textarea id="sel" cols="80" rows="40">dfgdfgdfg {{ MouseUpDescription }}</textarea>
</body>
</html>

<script>

var app = angular.module("app", []);
    app.controller("selectableTextController", function ($scope) {

		$scope.MouseUp = function ($event) {
            $scope.MouseUpDescription = 'ffffff'; //getSelectionText();
        }

	});


	function getTextNodesIn(node) {
		var textNodes = [];
		if (node.nodeType == 3) {
			textNodes.push(node);
		} else {
			var children = node.childNodes;
			for (var i = 0, len = children.length; i < len; ++i) {
				textNodes.push.apply(textNodes, getTextNodesIn(children[i]));
			}
		}
		return textNodes;
	}

	function setSelectionRange(el, start, end) {
		if (document.createRange && window.getSelection) {
			var range = document.createRange();
			range.selectNodeContents(el);
			var textNodes = getTextNodesIn(el);
			var foundStart = false;
			var charCount = 0, endCharCount;

			for (var i = 0, textNode; textNode = textNodes[i++]; ) {
				endCharCount = charCount + textNode.length;
				if (!foundStart && start >= charCount && (start < endCharCount || (start == endCharCount && i <= textNodes.length))) {
					range.setStart(textNode, start - charCount);
					foundStart = true;
				}
				if (foundStart && end <= endCharCount) {
					range.setEnd(textNode, end - charCount);
					break;
				}
				charCount = endCharCount;
			}

			var sel = window.getSelection();
			sel.removeAllRanges();
			sel.addRange(range);
		} else if (document.selection && document.body.createTextRange) {
			var textRange = document.body.createTextRange();
			textRange.moveToElementText(el);
			textRange.collapse(true);
			textRange.moveEnd("character", end);
			textRange.moveStart("character", start);
			textRange.select();
		}
	}

	function makeEditableAndHighlight(colour) {
		sel = window.getSelection();
		if (sel.rangeCount && sel.getRangeAt) {
			range = sel.getRangeAt(0);
		}
		document.designMode = "on";
		if (range) {
			sel.removeAllRanges();
			sel.addRange(range);
		}
		// Use HiliteColor since some browsers apply BackColor to the whole block
		if (!document.execCommand("HiliteColor", false, colour)) {
			document.execCommand("BackColor", false, colour);
		}
		document.designMode = "off";
	}

	function highlight(colour) {
		var range, sel;
		if (window.getSelection) {
			// IE9 and non-IE
			try {
				if (!document.execCommand("BackColor", false, colour)) {
					makeEditableAndHighlight(colour);
				}
			} catch (ex) {
				makeEditableAndHighlight(colour)
			}
		} else if (document.selection && document.selection.createRange) {
			// IE <= 8 case
			range = document.selection.createRange();
			range.execCommand("BackColor", false, colour);
		}
	}

	function selectAndHighlightRange(id, start, end) {
		setSelectionRange(document.getElementById("corpus"), start, end);
		highlight("yellow");
	}

	function getSelectionText() {
	var fullString = document.getElementsByTagName("body")[0].textContent;
    var text = "";
    var activeEl = document.activeElement;
    var activeElTagName = activeEl ? activeEl.tagName.toLowerCase() : null;
    if (
      (activeElTagName == "textarea") || (activeElTagName == "input" &&
      /^(?:text|search|password|tel|url)$/i.test(activeEl.type)) &&
      (typeof activeEl.selectionStart == "number")
    ) {
        text = activeEl.value.slice(activeEl.selectionStart, activeEl.selectionEnd);
		
		jsonText = "json\n---\n{\n  \"@context\": \"http://www.w3.org/ns/oa.jsonld\",\n";
		jsonText += "  \"type\": \"SpecificResource\",\n";
		jsonText += "  \"source\": \"www.eureka.com\",\n";
		jsonText += "  \"selector\": [\n";
		jsonText += "    {\n      \"start\": " + fullString.indexOf(text).toString() + ",\n";
		var endPosition = parseInt(text.length) + parseInt(fullString.indexOf(text));
		jsonText += "      \"end\": " + endPosition + ",\n";
		jsonText += "      \"type\": \"TextPosition\"\n";
		jsonText += "    },\n";
		jsonText += "    {\n      \"exact\": \"" + text + "\",\n";
		//jsonText += "      \"prefix\": " + activeEl.selectionStart + ",\n";
		//jsonText += "      \"suffix\": " + activeEl.selectionEnd + ",\n";
		jsonText += "      \"type\": \"TextQuote\"\n";
		jsonText += "    }\n  ]\n}\n\n\ntext/html\n---\n";
		jsonText += text;
		jsonText += "\n\n\ntext/plain\n---\n";
		jsonText += text;
		text = jsonText + text;
    } else if (window.getSelection) {
        text = window.getSelection().toString();
		jsonText = "application/json\n---\n{\n  \"@context\": \"http://www.w3.org/ns/oa.jsonld\",\n";
		jsonText += "  \"type\": \"SpecificResource\",\n";
		jsonText += "  \"source\": \"www.eureka.com\",\n";
		jsonText += "  \"selector\": [\n";
		jsonText += "    {\n      \"start\": " + fullString.indexOf(text).toString() + ",\n";
		var endPosition = parseInt(text.length) + parseInt(fullString.indexOf(text));
		jsonText += "      \"end\": " + endPosition + ",\n";
		jsonText += "      \"type\": \"TextPosition\"\n";
		jsonText += "    },\n";
		jsonText += "    {\n      \"exact\": \"" + text + "\",\n";
		//jsonText += "      \"prefix\": " + activeEl.selectionStart + ",\n";
		//jsonText += "      \"suffix\": " + activeEl.selectionEnd + ",\n";
		jsonText += "      \"type\": \"TextQuote\"\n";
		jsonText += "    }\n  ]\n}\n\n\ntext/html\n---\n";
		jsonText += text;
		jsonText += "\n\n\ntext/plain\n---\n";
		jsonText += text;
		text = jsonText + text;
    }

    return text;
}

document.onmouseup = document.onkeyup = document.onselectionchange = function() {
  document.getElementById("sel").value = getSelectionText();
};
document.getElementById('execute').addEventListener('click', function() {
    var range = window.getSelection().getRangeAt(0),
        span = document.createElement('span');

    span.className = 'highlighted';
    span.appendChild(range.extractContents());
    range.insertNode(span);
});




</script>