<div class="centered">
    <div>
        <h4 style="font-weight: normal">Create your listory!</h4>
    </div>

    <div class="row">

        <div class="col-6">



            <div class="form-group">
                <input [(ngModel)]="title" type="name" class="form-control" placeholder="Listory Title" />
            </div>

            <div class="form-group">
                <textarea [(ngModel)]="description" type="text" class="form-control" rows="10" placeholder="Description"></textarea>
            </div>

            <tag-input [(ngModel)]="tags"></tag-input>

            <div>
                <div class="form-check form-check-inline">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" [(ngModel)]="mediaType" id="inlineRadio1" value="link"> Image from Link
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" [(ngModel)]="mediaType" id="inlineRadio2" value="disk"> Image from Disk
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <label class="form-check-label">
                        <input selected class="form-check-input" type="radio" name="inlineRadioOptions" [(ngModel)]="mediaType" id="inlineRadio2"
                            value="noImage"> No Image
                    </label>
                </div>

                <div *ngIf="mediaType === 'link'" class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <div class="input-group-addon">Image URL</div>
                    <input type="text" class="form-control" [(ngModel)]="link" id="inlineFormInputGroup" placeholder="Link">
                </div>
                <div *ngIf="mediaType === 'disk'">
                    <label class="custom-file">
                        <input type="file" id="file" class="custom-file-input">
                        <span class="custom-file-control"></span>
                    </label>
                </div>
                <br>
            </div>


            <div>
                <select class="custom-select" [(ngModel)]="selectedTime">
                    <!--            <option selected>Time</option> -->
                    <option *ngFor="let time of timeInfo" [ngValue]="time">
                        {{time.name}}
                </select>
            </div>

            <div *ngIf="selectedTime && selectedTime.value_count > 0">
                <div class="form-group row">
                    <div class="col-3">
                        <input class="form-control" type="number" placeholder="2015" [(ngModel)]="date1">
                    </div>
                    <div class="col-3" *ngIf="selectedTime.value_count > 1">
                        <input class="form-control" type="number" placeholder="2017" [(ngModel)]="date2">
                    </div>


                </div>
            </div>

            <div style="text-align: center">
                <button (click)="onSubmit()" type="submit" class="btn btn-primary">
                    Create
                </button>

                <div *ngIf="message">
                    <div class="alert alert-danger" role="alert">
                        {{message}}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-6">
            <maps [config]="mapsConfig"></maps>
        </div>
    </div>

</div>