<div class="container">
     <div class="row"  style="margin-top:100px">
        <div class="col-md-12">
            <img src="./assets/img/loginPage.png" alt="Eureka!" style="width:100%"/>
        </div>
    </div>

    <div class="row" style="margin-top:100px">
        <div class="col-md-8">
            <div>
                <div *ngIf="! user.name">
                    <h4 style="font-weight: normal">
                        Welcome to Eureka!
                    </h4>
                </div>

                <div *ngIf="user.name">
                    <h2>
                        Welcome, {{user.name}}
                    </h2>
                </div>

                    <p>
                        This is a template for a simple marketing or informational website. 
                    </p>
                    <p>
                         It includes a large callout called the hero unit and  three supporting pieces of content.          
                    </p>
                    <p>
                         Use it as a starting point to create something more unique.
                    </p>
                  <!--      <p>
                            <a class="btn btn-primary btn-large" href="#">Learn more</a>
                        </p>
                    -->
            </div>
        </div>


            
        <div class="col-md-4">
            <div *ngIf="! user.token">
                <div *ngIf="! form.onRegister">
                <login-form [form]="form"></login-form>
            </div>
            <div *ngIf="form.onRegister">
                <register-form [form]="form"></register-form>
            </div>
        </div>
    </div>
    
    </div>
</div>