{% load static %}


<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} EUREKA {% endblock %}</title>
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">

</head>
{% load crispy_forms_tags %}

{% block body %}



<div class="container">
     <div class="row"  style="margin-top:100px">

         <div class="col-md-12">
            {% load static %}
             <img src="{% static "/img/loginPage.png" %}" alt="Eureka!" style="width:100%"/>
         </div>
     </div>

    <div class="row" style="margin-top:100px">
        <div class="col-md-8">
             <h3>Welcome to Eureka!</h3>
            <p>The wasteful gnome quibbles past a nested agony. The benefit syndicates an undergraduate past the five leg. The dye rests. The corrected coverage impresses an automatic signature.</p>
            <p>Throughout the champion resistance foams a here sunrise. The syndrome beams. The chain stems the breathing dogma. The helpless contrast swamps the staggering tour. The failing sound caves the sitting volunteer. The door flames the early fabric</p>
            <p>The voluntary male thinks opposite my electorate. Against an intellectual trips the constitutional brother. The gut qualifies a hazard over a dynamic oriental. A nasty theme thumbs a floor.</p>
            <p>Some writings.Some writings.Some writings.Some writings.Some writings.Some writings.Some writings.Some writings.Some writings.Some writings.Some writings.Some writings.Some writings.Some writings</p>
        </div>

        <div class="col-md-4" style="text-align:center;">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <h3>{{ title }}</h3>
                {{ form|crispy }}

                 {% if title == "Sign up" %}
                    <h5>By clicking Sign up, I agree to the <a href="{% url 'termsofservice' %}" >Terms of Service and Privacy Policy</a></h5>
                 {% endif %}

                <input class="btn btn-primary" type="submit" value="{{ title }}"/>

                {% if title == "Sign up" %}
                    <h5>Already have an account? <a href="{% url 'accounts:login' %}" >Click Here</a></h5>
                {% endif %}

                {% if title == "Login" %}
                    <h5>Don't have an account? <a href="{% url 'accounts:register' %}" >Click Here</a></h5>
                {% endif %}

            </form>
        </div>
    </div>
</div>


{% endblock %}
