<div *ngIf="listory" class="searchitem list-group-item list-group-item-action" (click)="gotoItem()">
    
        <img src="{{listory.image}}" class="img-circle" />

        
                <span class="name">{{listory.name}}</span><br/>
                <span class="visible-xs"> <span class="text-muted">{{listory.description.substr(0,100)}}</span><br/></span>

            <p class="category">
                <span *ngFor="let tag of listory.tags" 
                class="badge badge-primary tag">
                {{tag.name}}</span>
            </p>

            

</div> 
