.img-circle{
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.category{
    float:right;     
}

.tag{
    margin-left: 8px;
}


.searchitem{
z-index: 9999;
position: relative;
right: 50%;
}
